<template>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a v-if="$route.name !== 'index'" v-on:click="$router.back()">Back</a></li>
      </ul>
      <div class="navbar-header">
        <a v-if="$route.name === 'index'" class="navbar-brand">debate.js</a>
      </div>
      <timer v-if="!$store.getters.active" />
      <puller v-if="!$store.getters.state" />
      <ul v-if="!$store.getters.state" class="nav navbar-nav navbar-right">
        <li><a v-on:click="$router.push({ name: 'articles.create' })"><span class="glyphicon glyphicon-plus"></span></a></li>
        <li><a v-on:click="$store.dispatch('theme')">
          <span :class="$store.getters.theme === 0 ? 'glyphicon-eye-close' : 'glyphicon-eye-open'" class="glyphicon"></span>
        </a></li>
      </ul>
    </div>
  </div>
</template>
