<template>
  <div>
    <navbar />
    <div class="container">
      <editform v-if="!done && ready" v-model="article" v-on:success="finish" />
      <success v-if="done" />
    </div>
  </div>
</template>

<script>
import { remote } from 'electron'
import moment from 'moment-timezone'

export default {
  data: function () {
    return {
      article: {
        model: null,
        title: '',
        authors: [],
        tags: [],
        content: '',
        published: '',
        modified: '',
        source: '',
        url: ''
      },
      done: false,
      notification: null,
      ready: false
    }
  },
  methods: {
    finish () {
      this.done = true
    }
  },
  mounted () {
    remote.getGlobal('Database').find(this.$route.params.id).then(article => {
      let newArticle = Object.assign({}, article.get({
        plain: true
      }))
      newArticle.published = moment(newArticle.published).format('YYYY-MM-DDTHH:mm:ss')
      this.ready = true
      this.$nextTick(() => {
        this.article = newArticle
        this.article.model = article
      })
    })
  }
}
</script>
