<template>
  <div class="container">
    <navbar />
    <div class="container">
      <search v-model="params" v-on:search="search" />
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>More</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="article in articles" v-on:dblclick="navigate(article.id)">
            <td>{{ article.title }}</td>
            <td>{{ moment(article.published).format('LLLL') }}</td>
            <td>
              <div class="dropdown">
                <span class="glyphicon glyphicon-option-horizontal dropdown-toggle"
                  data-toggle="dropdown" style="cursor: pointer;"></span>
                <ul class="dropdown-menu">
                  <li><a href="#" v-on:click="$router.push({
                    name: 'articles.show',
                    params: { id: article.id }
                    })">
                      View Article
                    </a>
                  </li>
                  <li><a href="#" v-on:click="$router.push({
                    name: 'articles.edit',
                    params: { id: article.id }
                  })">
                      Edit Article
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<style scoped>
  tr:hover {
    cursor: pointer;
  }
</style>

<script>
import { remote } from 'electron'
import moment from 'moment-timezone'

const Database = remote.getGlobal('Database')

export default {
  data: function () {
    return {
      articles: [],
      moment: moment,
      params: {
        authors: [],
        tags: [],
        title: '',
        published: '',
        modified: '',
        source: '',
        url: ''
      },
      table: null
    }
  },
  methods: {
    navigate (id) {
      this.$router.push({
        name: 'articles.show',
        params: {
          id: id
        }
      })
    },
    search () {
      Database.search(this.params).then(articles => {
        this.setData(articles)
      })
    },
    setData (data) {
      this.table.destroy()
      this.articles = data
      this.$nextTick(() => {
        this.table = $('table').DataTable({})
      })
    }
  },
  mounted () {
    Database.all().then(articles => {
      this.articles = articles
      this.$nextTick(() => {
        this.table = $('table').DataTable()
      })
    })
  }
}
</script>
